# ROS2 build
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
*.so

# Environnement virtuel
venv/
.env

# Editeurs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
rosout*

# Fichiers temporaires caméra
*.jpg
*.jpeg
*.png
*.mp4

src/robot_controller/robot_controller/arena_map.py
src/robot_controller/robot_controller/cube_detector.py
src/robot_controller/robot_controller/cube_strategy.py
src/robot_controller/robot_controller/follow_test.py
src/robot_controller/robot_controller/gopigo3_driver.py
src/robot_controller/robot_controller/hsv_calibration.py